@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

@theme {
    --color-primary: #1F2937;
    --color-secondary: #10B981;
    --color-accent: #F59E0B;
    --color-danger: #EF4444;
    --color-text-base: #F9FAFB;
    --color-text-muted: #9CA3AF;
    --color-bg-base: #111827;
    --color-bg-muted: #1F2937;
}




